:root{
    --primary-color:#675D50;
    --round-color:#9D5C0D;
    --number-color:#FDA769;
    --span-color:#A9907E;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: grid;
    place-items: center;
    font-family: 'PT Sans', sans-serif;
}

.container{
width: 100%;
min-height: 100vh;
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
background:#ffff;
}

.countdown{
    display: flex;
    justify-content: space-evenly;
    width: 50%;
    flex-wrap: wrap;
}

.countdown div{
    display: grid;
    place-items: center;
    padding: 10px;
}

h1, h2{
    text-align: center;
    color: var(--primary-color);
    font-size: 30px;
    padding: 25px 5px;
}

p{
    display: grid;
    place-items: center;
    border: solid 0.5px var(--round-color);
    height: 100px;
    width: 100px;
    border-radius: 50%;
    color:var(--number-color);
}

span{
   color:var(--span-color); 
}
